div.main{
  align-content: left;
  margin: 20px 200px 20px 20px;
  font-family: 'Lato', sans-serif;

}

h1{
  font-size: 50px;
  color: maroon;

}

h2{
  font-size: 30px;
  color: black;
}

.nav { 
      padding-top: 20px;
    color: #dddddd;
    margin-right: 6px;
    padding-bottom: 20px;
    background-color: black;
    padding-left: 10px;
    display: inline-block;
    padding-right: 10px;
    width: 100px;
    text-align: center;
 }

.nav:hover {
  background-color: purple;
}

.date{
  color: #cccccc

}

h4{
  text-align: right;
  color: red;
}

.footerlink{
  margin-top: 20px;
  margin-right: 5px;
}

#footerlink{
  margin-top: 500px;
}

